<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Професор</title>
    <link href="resources/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Професор</h3>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner">
                        <h2 class="title">Note tes profs !</h2>
                            #if($role == "[ROLE_STUDENT]")
                                <p>
                                    Vous n'êtes pas anonyme, alors attention au mots employé
                                </p>
                                <a href="student" style="--i: 0.05s;" class="myLink">
                                    <button class="btn">Mon profil</button>
                                </a>
                            #elseif($role == "[ROLE_TEACHER]")
                                <a href="teacher" style="--i: 0.05s;" class="myLink">
                                    <button class="btn">Mon profil</button>
                                </a>
                            #else
                                <a href="login" style="--i: 0.05s;" class="myLink">
                                    <button class="btn">Se connecter</button>
                                </a>
                            #end
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a href="#" style="--i: 0.05s;" class="myLink">Index</a>
            </li>
            <li>
                #if($role == "[ROLE_STUDENT]")
                    <a href="student" style="--i: 0.15s;" class="myLink">Ecrire</a>
                #elseif($role == "[ROLE_TEACHER]")
                    <a href="teacher" style="--i: 0.15s;" class="myLink">Ecrire</a>
                #else
                    <a href="logout" style="--i: 0.3s;" class="myLink">Je me deco</a>
                #end
            </li>
            <li>
                <a href="#" style="--i: 0.2s;" class="myLink">Classement</a>
            </li>
            <li>
                #if($role == "[ROLE_STUDENT]")
                    <a href="student" style="--i: 0.15s;" class="myLink">Mon Profil</a>
                #elseif($role == "[ROLE_TEACHER]")
                    <a href="teacher" style="--i: 0.15s;" class="myLink">Mon Profil</a>
                #else
                    <a href="login" style="--i: 0.3s;" class="myLink">Mon Profil</a>
                #end
            </li>
            <li>
                <a href="#" style="--i: 0.3s;" class="myLink">Contact</a>
            </li>
        </ul>
    </div>
</div>

<script src="resources/js/script.js"></script>
</body>
</html>