<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Професор</title>
    <link rel="stylesheet" href="resources/css/login.css" />
    <script src="resources/js/jquery.js"></script>
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Професор</h3>
            <div class="hamburger-menu"  >
                <div class="bar" onclick="myFunction()"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="containere" id="containere">
                    <div class="form-container sign-up-container">
                        <form action="#" method="POST">
                            <h1>Crée ton compte </h1>
                            <input type="text" placeholder="Name" name='name' />
                            <input type="email" placeholder="Email" name='mail' />
                            <input type="password" placeholder="Password" name='password' />
                            <button>C'est parti !</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="" method="POST">
                            <h1>Creer mon compte</h1>
                            <input type="email" placeholder="Email" name='username' value='' />
                            <input type="password" placeholder="Password" name='password' />
                            <a href="#">Mot de passe oublié ? </a>
                            <h5>$errorMessage</h5>
                            <button>Se connecter</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Re-coucou</h1>
                                <p>Viens vite nous donner ton avis !</p>
                                <button class="ghost" id="signIn">Se connecter</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Coucou</h1>
                                <p>Cree toi un compte sur notre plateforme et viens nous donner ton avis :)</p>
                                <button class="ghost" id="signUp">Creer un compte</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a href="/web/" style="--i: 0.05s;" class="myLink">Index</a>
            </li>
            <li>
                <a href="/web/rank" style="--i: 0.2s;" class="myLink">Classement</a>
            </li>
        <li>
            #if($role == "[ROLE_STUDENT]")
                <li>
                    <a href="/web/student" style="--i: 0.15s;" class="myLink">Mon Profil</a>
                </li>
                <li>
                    <a href="/web/logout" style="--i: 0.15s;" class="myLink">Je me déco rapidos</a>
                </li>
            #elseif($role == "[ROLE_TEACHER]")
                <li>
                    <a href="/web/teacher" style="--i: 0.15s;" class="myLink">Mon Profil</a>
                </li>
                <li>
                    <a href="/web/logout" style="--i: 0.15s;" class="myLink">Je me déco rapidos</a>
                </li>
            #else
                <a href="/web/login" style="--i: 0.3s;" class="myLink">Je me co rapidos</a>
            #end
            </li>
            <li>
                <a href="/#" style="--i: 0.3s;" class="myLink">Contact</a>
            </li>
        </ul>
    </div>
</div>

<script src="resources/js/script.js"></script>
<script src="resources/js/log.js"></script>
</body>
</html>