<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Професор</title>
    <link rel="stylesheet" href="resources/css/login.css" />
    <script src="resources/js/jquery.js"></script>
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Професор</h3>
            <div class="hamburger-menu"  >
                <div class="bar" onclick="myFunction()"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="containere" id="containere">
                    <div class="form-container sign-up-container">
                        <form action="student/add" method="POST">
                            <h1>Crée ton compte </h1>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <span>Ou bien avec ton email</span>
                            <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Password" />
                            <h5>$errorMessage</h5>
                            <button>C'est parti !</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="" method="POST">
                            <h1>Créer mon compte</h1>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <span>Ou avec ton compte</span>
                            <input type="email" placeholder="Email" name='username' value='' />
                            <input type="password" placeholder="Password" name='password' />
                            <a href="#">Mot de passe oublié ? </a>
                            <h5>$errorMessage</h5>
                            <button>Se connecter</button>
                        </form>
                    </div>


                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Re-coucou</h1>
                                <p>Viens vite nous donner ton avis !</p>
                                <button class="ghost" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Coucou</h1>
                                <p>Crée toi un compte sur notre plateforme et viens nous donner ton avis :)</p>
                                <button class="ghost" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a href="#" style="--i: 0.05s;" class="myLink">Index</a>
            </li>
            #if ($email)
                <li>
                    <a href="logout" style="--i: 0.3s;" class="myLink">Je me deco</a>
                </li>
            #else
                <li>
                    <a href="login" style="--i: 0.3s;" class="myLink">Je me co rapidos</a>
                </li>

            #end
            <li>
                #if($role == "[ROLE_STUDENT]")
                    <a href="student" style="--i: 0.15s;" class="myLink">Ecrire</a>
                #elseif($role == "[ROLE_TEACHER]")
                    <a href="teacher" style="--i: 0.15s;" class="myLink">Ecrire</a>
                #else
                    <a href="login" style="--i: 0.15s;" class="myLink">Ecrire</a>
                #end
            </li>
            <li>
                <a href="rank" style="--i: 0.2s;" class="myLink">Classement</a>
            </li>
            <li>
                #if($role == "[ROLE_STUDENT]")
                    <a href="student" style="--i: 0.15s;" class="myLink">Mon profil</a>
                #elseif($role == "[ROLE_TEACHER]")
                    <a href="teacher" style="--i: 0.15s;" class="myLink">Mon profil</a>
                #else
                    <a href="login" style="--i: 0.15s;" class="myLink">Mon profil</a>
                #end
            </li>
            <li>
                <a href="#" style="--i: 0.3s;" class="myLink">Contact</a>
            </li>

        </ul>
    </div>
</div>
<script src="resources/js/script.js"></script>
<script src="resources/js/log.js"></script>
</body>
</html>