<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Професор</title>
    <link rel="stylesheet" href="resources/css/login.css" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Професор</h3>
            <div class="hamburger-menu"  >
                <div class="bar" onclick="myFunction()"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="containere" id="containere">
                    <div class="form-container sign-up-container">
                        <form action="#" method="POST">
                            <h1>Crée ton compte </h1>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <span>Ou bien avec ton email</span>
                            <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Password" />
                            <button>C'est parti !</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="" method="POST">
                            <h1>Se connecter</h1>
                            <h5>$errorMessge</h5>
                            <div class="social-container">
                                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <span>Ou avec ton compte</span>
                            <input type="email" placeholder="Email" name='username' value='' />
                            <input type="password" placeholder="Password" name='password' />
                            <a href="#">Mot de passe oublié ? </a>
                            <button>Se connecter</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Re-coucou</h1>
                                <p>Blabla</p>
                                <button class="ghost" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Coucou</h1>
                                <p>Blabla</p>
                                <button class="ghost" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a href="" style="--i: 0.05s;" class="myLink">Index</a>
            </li>
            <li>
                <a href="login" style="--i: 0.1s;" class="myLink">Se connecter</a>
            </li>
            <li>
                <a href="#" style="--i: 0.15s;" class="myLink">Ecrire</a>
            </li>
            <li>
                <a href="#" style="--i: 0.2s;" class="myLink">Classement</a>
            </li>
            <li>
                <a href="#" style="--i: 0.25s;" class="myLink">Mon profil</a>
            </li>
            <li>
                <a href="#" style="--i: 0.3s;" class="myLink">Contact</a>
            </li>
        </ul>
    </div>
</div>

<script src="resources/js/script.js"></script>
<script src="resources/js/log.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</body>
</html>